<table class="table table-striped">
         <tr>
           <th>Titre</th><th>Creation Date</th><th>Path</th>
         </tr>

           <tr *ngFor="let c of articles" >
           <td>{{c.title}}</td>
           <td>{{c.date}}</td>
           <td>{{c.path}}</td>


         </tr>
       </table>

<p></p>


<div>
<form #f="ngForm" (ngSubmit)="onAddArticle(f.value)">
  <label >Message: </label>
  <input required name="title" ngModel type="text" [(ngModel)]="article.title">
  <button [disabled]=!f.valid type="submit"> Ajouter Article</button>
</form>
</div>
